/* override bootstrap stylesheet variables here (colors, fonts etc) */
$primary: #d94167;
$primary-dark: #cc0033;
$gray: #f6f6f6;
$gray-10: #e3e3e3;
$gray-20: #b1b2b5;
$gray-30: #7b7d85;
$gray-40: #64666a;
$gray-50: #303236;
$gray-60: #1f1f1f;
$black: #000000;
$white: #ffffff;
$danger: #e65244;
$success: #2fbf71;
$warning: #e8c547;
$complete: #9f66c2;
$info: #007ea7;
$dark-pastel-green: #02bf54;
$medium-spring-green: #00fa9a;
$firebrick: #b22222;
$dark-orange: #ff8c00;
$gold: #ffd700;
$medium-orchid: #ba55d3;
$plum: #dda0dd;
$blue-ncs: #008ab8;
$deep-sky-blue: #00bfff;
$deep-pink: #ff1493;
$carnation-pink: #ffafda;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2.25;
$h3-font-size: $font-size-base * 1.5;
